
#pointer-ring {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    padding: 15px;
    border: 2px solid white;
    position: fixed;
    border-radius: 5px;
    z-index: 1;
    pointer-events: none;
}

/* hide default cursor */
html {
    cursor: none !important;
}

a {
    cursor: none !important;
}