/** This file contains styling for the Create A Post page (create-post.html) **/
/* Import common styling utilities. */
/** This file contains common variables, utility functions and mixins**/
/* Posts Page Styling. */
.create-post-page__header {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem; }

.create-post-page__body {
  font-size: 0.75rem;
  line-height: 1.25rem;
  background: url(../../img/create-post-body-bg.jpg) rgba(33, 37, 41, 0.9);
  background-blend-mode: multiply;
  background-size: cover; }

.create-post-page__options {
  text-align: center;
  color: #edf5e1; }

.create-post-page__tags__button, .create-post-page__community__button {
  color: #edf5e1; }

.create-post-page__tags__dropdown > button, .create-post-page__tags__dropdown-menu, .create-post-page__community__dropdown > button, .create-post-page__community__dropdown-menu {
  font-size: 0.75rem;
  line-height: 1.25rem; }

.create-post-page__options {
  color: #edf5e1; }

.create-post-page__post__content {
  border-radius: 40px;
  background-color: rgba(67, 75, 83, 0.8);
  box-shadow: 0px 2px 38px rgba(0, 0, 0, 0.2); }
  .create-post-page__post__content--secondary {
    font-size: 1.125rem;
    line-height: 1.875rem;
    text-align: justify; }
    .create-post-page__post__content--secondary__link {
      color: #edf5e1;
      text-decoration: none; }
    .create-post-page__post__content--secondary__link:hover {
      color: #ddf4fa; }
    .create-post-page__post__content--secondary__actions-container {
      text-align: center; }
    .create-post-page__post__content--secondary__actions {
      font-size: 0.75rem;
      line-height: 1.25rem;
      text-decoration: none;
      color: #edf5e1; }
      .create-post-page__post__content--secondary__actions--container {
        white-space: nowrap; }
    .create-post-page__post__content--secondary__actions:hover {
      color: #ddf4fa; }
  .create-post-page__post__content--secondary textarea {
    color: #edf5e1;
    background-color: #212529; }
  .create-post-page__post__content--secondary textarea:focus {
    color: #edf5e1;
    background-color: #212529; }
  .create-post-page__post__content--publish button {
    font-size: 0.75rem;
    line-height: 1.25rem; }

.create-post-page__post__image {
  width: 100px; }

/* Media Queries. */
@media (max-width: 1199.98px) {
  .create-post-page__post__content--secondary {
    font-size: 0.75rem;
    line-height: 1.25rem; } }

@media (max-width: 991.98px) {
  .create-post-page__post__content--secondary__actions {
    font-size: 0.5rem;
    line-height: 1.25rem; } }

@media (max-width: 575.98px) {
  .create-post-page__post__metrics > ul {
    font-size: 0.5rem;
    line-height: 1.25rem; } }
