@import "./utils/common.scss";

.login-page {
  @include text-setting("xs");

  &__body {
    color: theme-text-color($selected-theme);
    background: url(../img/login-bg.jpg) rgba(theme-background-color($selected-theme), 0.6);
    background-size: cover;
    background-blend-mode: multiply;
    // box-shadow: inset 0 0 0 1000px rgba(theme-background-color($selected-theme), 0.6);
  }

  &__container {
    width: 40%;
  }

  &__header {
    @include text-setting("xxl");
    @include center-text();
  }

  &__user-id-container,
  &__pwd-container {
    color: theme-background-color($selected-theme);
  }

  &__user-id__help,
  &__divider {
    color: theme-secondary-text-color($selected-theme);
  }

  &__submit {
    width: 100%;
    height: $spacer * 3;
    border-color: theme-background-color($selected-theme);
  }

  &__alternative-logins--1,
  &__alternative-logins--2 {
    width: 50%;
  }

  &__alternative-logins--1:hover,
  &__alternative-logins--2:hover {
    color: theme-background-color($selected-theme);
  }

  &__forgot-credentials, &__new-user {
    color: theme-secondary-text-color($selected-theme);
  }
  &__forgot-credentials:hover, &__new-user:hover {
    color: theme-text-color($selected-theme);
  }
}

// Media Queries.
// Small devices (768px and below)
@include media-breakpoint-down(sm) {
  .login-page {
    &__container {
      width: 60%;
    }
  }
}
