// Local imports. 
@import "./pages/login.scss"; 
@import "./pages/posts.scss";

// Optional Bootstrap imports.
@import "../node_modules/bootstrap/scss/grid";

// ***Global styling rules ***
body {
  min-height: 100vh;
  color: theme-text-color($selected-theme);
}

// Overrides

// Default nav-link styling.
.nav-link {
  color: theme-text-color($selected-theme);
}

.nav-link:hover {
  color: theme-secondary-text-color($selected-theme);
}

// Keep navbar-nav inline.
.navbar-nav {
  display: inline;
}


// Media Queries.
// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
}
// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
}
// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
}
// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {
}
