/** This file contains common styling, and imports all the stylesheets into 1 file**/

// Local imports for all pages.
@import "./pages/login.scss";
@import "./pages/posts.scss";
@import "./pages/post-details.scss";
@import "./pages/community.scss";
@import "./pages/create-post.scss";

// Optional Bootstrap imports.
@import "../node_modules/bootstrap/scss/grid";

// ***Global styling rules ***
body {
  color: theme-text-color($selected-theme);
}

// Overrides

// Common components styling.
.common {
  // Page Header - used in pages like Posts (posts.html), Post Details (post-details.html)
  &__nav__user-actions,
  &__nav__search-communities,
  &__nav__logo {
    @include center-text();
  }
  // Search input
  &__nav__search input {
    border-radius: 10px;
  }
  &__nav__search input:focus {
    border-color: theme-primary-color($selected-theme);
    box-shadow: 0 0 0 0.25rem rgba(theme-primary-color($selected-theme), 0.25);
  }
  // Page Footer - used in pages like Posts (posts.html), Post Details (post-details.html)
  &__footer-container {
    @include center-text();
  }
  &__footer {
    background-color: theme-secondary-background-color($selected-theme);
    height: 7.5vh;
  }
}

// Bootstrap nav overrides.
.nav-link,
.link-text {
  color: theme-text-color($selected-theme);
  text-decoration: none;
}

.nav-link:hover,
.link-text:hover {
  color: theme-secondary-text-color($selected-theme);
  cursor: pointer;
}

.navbar-nav {
  display: inline;
}

// Media Queries.

// 768px and below
@include media-breakpoint-down(sm) {
  .common {
    &__footer {
      height: 20vh;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
}
// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
}
// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
}
// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {
}
