/** This file contains styling for the Create A Post page (create-post.html) **/

/*------------------------------------------------------------------
[Table of contents]

1. Import common styling utilities
2. Bootstrap imports
3. Create A Post Page Styling
  - 3.1 Header
  - 3.2 Body
  - 3.3 Options
  - 3.4 Post Styling
        - 3.4.1 Content
4. Create A Post Page Media Queries

-------------------------------------------------------------------*/

/* 1. Import common styling utilities. */
@import '../utils/common.scss';

/* 2. Bootstrap imports. */
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

/* 3. Create A Post Page Styling. */
.create-post-page {
  // 3.1 Header
  &__header {
    @include center-text();
    @include text-setting('xl');
  }

  // 3.2 Body
  &__body {
    @include text-setting('xs');
    // Put background image here.
    background: url(../../img/create-post-body-bg.jpg)
      rgba(theme-secondary-background-color($selected-theme), 0.9);
    background-blend-mode: multiply;
    background-size: cover;
  }

  // 3.3 Options
  &__options {
    @include center-text();
    color: theme-text-color($selected-theme);
  }
  &__tags,
  &__community {
    &__button {
      color: theme-text-color($selected-theme);
    }
    &__dropdown > button,
    &__dropdown-menu {
      @include text-setting('xs');
    }
  }
  &__options {
    color: theme-text-color($selected-theme);
  }

  // 3.4 Post
  &__post {
    // 3.4.1 Content
    &__content {
      border-radius: 40px;
      background-color: rgba(
        lighten(theme-secondary-background-color($selected-theme), 15),
        0.8
      );
      box-shadow: 0px 2px 38px rgba(0, 0, 0, 0.2);

      &--secondary {
        @include text-setting('md');
        @include justify-text();
        &__link {
          color: theme-text-color($selected-theme);
          text-decoration: none;
        }
        &__link:hover {
          color: theme-secondary-text-color($selected-theme);
        }
        &__actions-container {
          @include center-text();
        }
        &__actions {
          @include text-setting('xs');
          text-decoration: none;
          color: theme-text-color($selected-theme);
          &--container {
            white-space: nowrap;
          }
        }
        &__actions:hover {
          color: theme-secondary-text-color($selected-theme);
        }
      }
      &--secondary textarea {
        color: theme-text-color($selected-theme);
        background-color: theme-secondary-background-color($selected-theme);
      }
      &--secondary textarea:focus {
        color: theme-text-color($selected-theme);
        background-color: theme-secondary-background-color($selected-theme);
      }
      &--publish button {
        @include text-setting('xs');
      }
    }
    &__image {
      width: 100px;
    }
  }
}

/* 4. Media Queries. */
// Large devices (992px and below)
@include media-breakpoint-down(lg) {
  .create-post-page {
    &__post {
      &__content {
        &--secondary {
          @include text-setting('xs');
        }
      }
    }
  }
}

// Medium devices (768px and below)
@include media-breakpoint-down(md) {
  .create-post-page {
    &__post {
      &__content {
        &--secondary {
          &__actions {
            @include text-setting('xxs');
          }
        }
      }
    }
  }
}

// Extra small devices (576px and below)
@include media-breakpoint-down(xs) {
  .create-post-page {
    &__post {
      &__metrics > ul {
        @include text-setting('xxs');
      }
    }
  }
}
