/** This file contains styling for the Posts page (posts.html) **/

/*------------------------------------------------------------------
[Table of contents]

1. Import common styling utilities
2. Bootstrap imports
3. Posts Page Styling
  - 3.1 Body
  - 3.2 Tabs & Options
  - 3.3 Post Styling
        - 3.3.1 Metrics - Likes, Views, Comments 
        - 3.3.2 Content
  - 3.4 View more link
4. Posts Page Media Queries

-------------------------------------------------------------------*/

/* 1. Import common styling utilities. */
@import '../utils/common.scss';

/* 2. Bootstrap imports. */
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

/* 3. Posts Page Styling. */
.posts-page {
  // 3.1 Body
  &__body {
    @include text-setting('xs');
    // Put background image here.
    background: url(../../img/posts-body-bg.jpg)
      rgba(theme-secondary-background-color($selected-theme), 0.9);
    background-blend-mode: multiply;
    background-size: cover;
  }

  // 3.2 Tabs & Options
  &__tabs {
    background-color: theme-secondary-background-color($selected-theme);
  }
  &__options {
    color: theme-text-color($selected-theme);
  }
  &__filters,
  &__tags,
  &__sort {
    &__button {
      color: theme-text-color($selected-theme);
    }
    &__dropdown > button,
    &__dropdown-menu {
      @include text-setting('xs');
    }
  }
  &__filters {
    &__icon {
      align-self: center;
      @include center-text();
    }
  }

  // 3.3 Post
  &__post {
    // 3.3.1 Metrics - Likes, Views, Comments
    &__metrics > ul {
      list-style-type: none;
      text-align: center;
      padding: 0;
      @include text-setting('xs');
    }
    // 3.3.2 Content
    &__content {
      @include animateProperty(transform);
      border-radius: 40px;
      background-color: rgba(
        theme-secondary-background-color($selected-theme),
        0.8
      );
      box-shadow: 0px 2px 38px rgba(0, 0, 0, 0.2);

      &--secondary {
        @include text-setting('md');
        @include justify-text();
        &__link {
          color: theme-text-color($selected-theme);
          text-decoration: none;
        }
        &__link:hover {
          color: theme-secondary-text-color($selected-theme);
        }
        &__actions {
          @include text-setting('xs');
          text-decoration: none;
          color: theme-text-color($selected-theme);
          &--container {
            white-space: nowrap;
          }
        }
        &__actions:hover {
          color: theme-secondary-text-color($selected-theme);
        }
      }
    }
    &__image {
      width: 100px;
    }
  }

  // 3.4 View more
  &__view-more {
    @include center-text();
  }
}

/* 4. Media Queries. */
// Medium devices (768px and above)
@include media-breakpoint-up(md) {
  // Disable hover animation on small devices.
  .posts-page {
    &__post {
      &__content:hover {
        box-shadow: 0px 2px 38px rgba(0, 0, 0, 0.8);
        transform: translateX(0.5rem);
      }
    }
  }
}

// Large devices (992px and below)
@include media-breakpoint-down(lg) {
  .posts-page {
    &__post {
      &__content {
        &--secondary {
          @include text-setting('xs');
        }
      }
    }
  }
}

// Medium devices (768px and below)
@include media-breakpoint-down(md) {
  .posts-page {
    &__post {
      &__content {
        &--secondary {
          &__actions {
            @include text-setting('xxs');
          }
        }
      }
    }
  }
}

// Extra Small devices like phones (576px and below)
@include media-breakpoint-down(xs) {
  .posts-page {
    &__post {
      &__metrics > ul {
        @include text-setting('xxs');
      }
    }
  }
}
