@import "../utils/common.scss";

// Bootstrap imports.
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Posts Page Styling.
.posts-page {
  &__body {
    @include text-setting("xs");
    background-color: theme-primary-color($selected-theme);
  }

  &__parallax-bg-container {
    height: 30vh;
    // TODO: Disable parallax in small devices
    // Put background image here
    background-image: url(../../img/posts-bg-parallax.jpg);
    background-attachment: fixed;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__nav__user-actions,
  &__nav__search-communities,
  &__nav__logo {
    @include center-text();
  }

  &__options {
    color: theme-text-color($selected-theme);
  }

  &__filters,
  &__tags {
    &__button {
      color: theme-text-color($selected-theme);
    }
    &__dropdown > button,
    &__dropdown-menu {
      @include text-setting("xs");
    }
  }

  &__filters {
    &__icon {
      align-self: center;
      text-align: center;
    }
  }


  // TODO: Pagination

  // &__pagination__item {
  //   background-color: theme-background-color($selected-theme);
  //   > a {
  //     color: theme-primary-color($selected-theme);
  //     background-color: theme-background-color($selected-theme);
  //   }
  // }
  // &__pagination__item.active > a {
  //   background-color: theme-text-color($selected-theme);
  // }
}

// Media Queries.
// XX-Large devices (992px and down)
@include media-breakpoint-down(xl) {
}
